<ion-content color="secondary">
    <div id="oculto" class="oculto"></div>
    <div (click)='sonidos("salir")' (click)='salir("mensaje");' class="salir"></div>

    <div id="contador_preguntas" class="contador_preguntas">0/0</div>

    <div (click)="siguiente();" class="preguntas">
        <p id="preguntas_titulo">Modo de juego</p>
        <p id="preguntas_texto"></p>
    </div>

    <div id="fondo_negro" class="fondo_negro">
        <div class="alerta_salir">
            <p>¿Estás seguro?   Perderás el progreso de la partida.</p>
            <div class="botones">
                <div (click)='sonidos("normal")' (click)='salir("salir");' class="salir_boton">Salir</div>
                <div (click)='sonidos("normal")' (click)='salir("continuar");' class="continuar">Continuar</div>
            </div>
        </div>
    </div>

</ion-content>
