<ion-content color="primary">

        <!-- div oculto -->
        <div id="atras" (click)='sonidos("salir")' (click)="atras();" class="atras"></div>

        <div id="notas" class="notas">
            <div class="configuracion_notas">
                <div class="efecto_notas">
                    <p class="titulo_dificultad">DIFICULTAD</p>
                    <div>
                        <div class="imagen_dificultad_juego">
                                <img id="vaso" (click)='sonidos("normal")' (click)="dificultad_change('vaso');" width="40" src="assets/images/vaso_vacio.svg"/>
                                <p id="vaso_p">FACIL</p>
                        </div>
                        <div class="imagen_dificultad_juego">
                                <img id="jarra" (click)='sonidos("normal")' (click)="dificultad_change('jarra');" width="50" src="assets/images/jarra_llena.svg"/>
                                <p id="jarra_p">NORMAL</p>
                        </div>
                        <div class="imagen_dificultad_juego">
                                <img id="cerveza" (click)='sonidos("normal")' (click)="dificultad_change('cerveza');" width="70" src="assets/images/cerveza_vacia.svg"/>
                                <p id="cerveza_p">DIFICIL</p>
                        </div>
                    </div>
                </div>
                <div class="separador"></div>
                <div class="efecto_notas">
                    <p class="titulo_modo">TIPOS DE PREGUNTAS</p>
                    <div>
                        <div class="imagen_modo_juego">
                                <img id="grupo" (click)='sonidos("normal")' (click)="modo_change('grupo');" height="60" src="assets/images/modo_grupo.svg"/>
                                <p id="grupo_p">GRUPO</p>
                        </div>
                        <div class="imagen_modo_juego individual_modo">
                                <img id="individual" (click)='sonidos("normal")' (click)="modo_change('individual');" height="60" src="assets/images/modo_individual.svg"/>
                                <p id="individual_p">INDIVIDUAL</p>
                        </div>
                        <div class="imagen_modo_juego">
                                <img id="todos" (click)='sonidos("normal")' (click)="modo_change('todos');" height="60" src="assets/images/modo_todos.svg"/>
                                <p id="todos_p">TODAS</p>
                        </div>
                    </div>
                </div> 
                <div class="separador"></div>
                <div class="efecto_notas">
                    <p class="titulo_preguntas">NUMERO DE PREGUNTAS</p>
                    <div class="preguntas">
                        <div class="imagen_preguntas_juego">
                                <img id="diez"(click)='sonidos("normal")'  (click)="preguntas_change('diez');" height="40" src="assets/images/1_chupito_lleno.svg"/>
                                <p id="diez_p">10</p>
                        </div>
                        <div class="imagen_preguntas_juego">
                                <img id="veinte" (click)='sonidos("normal")' (click)="preguntas_change('veinte');" height="40" src="assets/images/2_chupito_vacio.svg"/>
                                <p id="veinte_p">20</p>
                        </div>
                        <div class="imagen_preguntas_juego">
                                <img id="treinta" (click)='sonidos("normal")' (click)="preguntas_change('treinta');" height="61" src="assets/images/3_chupito_vacio.svg"/>
                                <p id="treinta_p">30</p>
                        </div>
                    </div>
                </div>
            </div>  
        </div>

        <!--Boton -->
        <div id="boton_vista_tres" (click)='sonidos("normal")' (click)="empieza_el_juego()" class="boton">
            <img id="boton_vista_tres_img" width="260px" src="assets/images/boton_del_juego_3.svg"/>
            <h2 id="titulo_boton">EMPIEZA LA FIESTA</h2>
        </div>

        <!--Palo y cubo-->
        <img id="palo" src="assets/images/palo.jpg"/>
        <div id="cubo"></div>
</ion-content>
