div.atras {
    opacity: 0;
    transition: 1s;
    height: 25px;
    width: 35px;
    background-image: url(src\assets\images\flecha_atras.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 16px;
    margin-top: 13px;
    position: absolute;
    z-index: 3;
}

div.partesuperior {
    display: flex;
    position: relative;
    top: 0;
    justify-content: space-around;
    align-items: center;
    height: 109px;
    transition: 1s;
}

div.partesuperior h1 {
    font-family: 'Oraqle Script';
    font-size: 69px;
    line-height: 60px;
    margin-top: 37px;
    margin-left: 18px;
}

div.partesuperior .botellasinicio {
    width: 111px;
    margin-left: 22px;
    margin-top: 6px;
}

div.barra {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
}

div.barra div.barra_top_img {
    width: 100%;
    height: 147.5px;
    border: 3.5px solid black;
    background-color: #602929;
    text-align: center;
}

div.barra div.barra_top2_img {
    height: 15.5px;
    width: 100%;
    border-bottom: 3.5px solid black;
    background-color: #7b3a3a;
}
div.barra div.barra_top_img h2 {
    font-size: 85px;
    font-family: 'Oraqle Script';
    transform: translateY(-40px);
    position: relative;
    z-index: 2;
    margin-top: 50px;
    opacity: 0;
    transition: 1s;
}

div.barra div.sillas {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 90px;
    z-index: 3;
}

div.barra div.sillas .silla {
    width: 45px;
    transition: 1s;
}

div.boton_siguiente {
    position: absolute;
    bottom: 0;
}

div.formulario_usuarios {
    height: 100%;
    max-height: calc(100vh - 560px);
    transition: 0.2s;
}

form.usuarios {
    height: 100%;
    overflow: scroll;
    position: relative; 
}

div.formulario_usuarios h3{
    font-size: 20px;
    margin-left: 20px;
}

div.formulario_usuarios #lista_usuarios {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div.formulario_usuarios #lista_usuarios ion-input {
    width: 150px;
    border-bottom: 1.5px solid #572020;
}

div.formulario_cartas {
    height: 100%;
    max-height: calc(100vh - 445px);
    transition: 0.3s;
    opacity: 0;
    transform: translateY(-50px);
    display: none;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

div.formulario_cartas img {
    width: 25px;
}

div.formulario_cartas .img1 {
    position: absolute;
    right:0;
    margin-right: 10px;
}

div.formulario_cartas .img2 {
    position: absolute;
    left:0;
    margin-left: 10px;
}

div.formulario_cartas div.disenyo_cartas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.formulario_cartas div.carta {
    width: 250px;
    height: 230px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    position: relative;
}

div.formulario_cartas div.carta img {
    position: absolute;
    bottom: 0px;
    right: -32px;
}

div.formulario_cartas div.carta div.carta_fondo {
    width: 210px;
    height: 200px;
    background-color: black;
}

div.formulario_cartas h2 {
    font-family: 'Oraqle Script';
    font-size: 55px;
    text-align: center;
    margin-top: 5px;
}

div.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: calc(50vw - 130px);
}

div.boton h2 {
    position: absolute;
    font-size: 21px;
    transform: translateY(-2px);
}

#boton_vista_dos {
    opacity: 0;
}

.plus {
    width: 25px;
    height: 25px;
    background-image: url(src\assets\images\plus.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: calc(50vw - 78px);
    margin: 3px;
    margin-bottom: 170px;
}

img.ajustes {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
}

div.ajuste_oculto_fondo {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.26);
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
}

div.ajuste_oculto {
    width: 74%;
    height: 63%;
    background-color: #692222;
    display: none;
    align-items: center;
    border-radius: 15px;
    border: 3px solid black;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
}

div.ajuste_oculto p {
    margin-bottom: 15px;
    margin-top: 0px;
}

div.ajuste_oculto img {
    position: absolute;
    right: 0;
    margin: 10px;
    top: 0;
}

div.mensaje_alerta {
    position: absolute;
    width: 80vw;
    height: 150px;
    background-color: #692222;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 3px solid black;
    display: none;
    padding: 15px 10px 10px 10px;
}

div.mensaje_alerta img {
    position: absolute;
    right: 0;
    margin: 10px;
    top: 0;
}

div.mensaje_alerta p{
    font-size: calc(19 * 80vw / 300);
    text-align: center;
}

div.info_oculto {
    display: none;
    background-color: #692222;
    border: 3px solid black;
    padding: 30px 20px 0px 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 15px;
}

div.info_oculto img {
    position: absolute;
    right: 0;
    margin: 10px;
    top: 0;
}
div.info_oculto p {
    font-size: calc(19 * 80vw / 300);
    text-align: center;
}

@media(max-width:345px) {
    div.partesuperior h1 {
        font-size: 60px;
    }
}

@media(max-width:320px) {
    div.partesuperior h1 {
        font-size: 58px;
    }
}

/* Iphone 6/7/8 */
@media(max-height:740px) {
    div.boton h2 {
        font-size: 17px;
        transform: translateY(-5px);
    }
    div.boton img {
        max-width: 80%;
    }
    div.formulario_usuarios {
        max-height: calc(100vh - 490px);
    }
    div.barra div.barra_top_img {
        height: 130.5px;
    }
    div.barra div.sillas .silla {
        width: 40px;
    }
    div.formulario_cartas {
        max-height: calc(100vh - 390px);
    }
}
@media(max-height:680px) {
    div.partesuperior {
        height: 100px;
    }
    div.formulario_usuarios #lista_usuarios ion-input {
        font-size: 15px;
    }
}

@media(max-height:666px) {
    div.partesuperior {
        height: 90px;
    }

    div.barra div.barra_top_img {
        height: 110px;
    }
    div.barra div.sillas .silla {
        width: 35px;
    }
    div.formulario_usuarios h3 {
        font-size: 15px;
        margin-top: 27px;
    }
    div.boton img {
        max-width: 70%;
    }
    div.boton h2 {
        font-size: 15px;
        transform: translateY(-7px);
    }
    div.formulario_usuarios {
        max-height: calc(100vh - 425px);
    }
    .plus {
        width: 21px
    }
    img.ajustes{
        width: 23px;
    }
    div.formulario_usuarios #lista_usuarios ion-input {
        font-size: 14.5px;
    }
    div.formulario_cartas {
        max-height: calc(100vh - 320px);
    }
    div.atras {
        margin-left: 12px;
        margin-top: 7px;
    }
    div.barra div.barra_top_img h2 {
        margin-top: 32px;
    }
    div.barra div.barra_top_img {
        border: 3px solid black;
    }
    div.barra div.barra_top2_img {
        border-bottom: 2.5px solid black !important;
    }
}
@media(max-height:570px) {
    div.partesuperior {
        height: 75px;
    }
    div.partesuperior .botellasinicio {
        width: 85px;
    }
    div.partesuperior h1 {
        font-size: 51px;
        line-height: 39px;
    }
    div.barra div.barra_top2_img {
        height: 15.5px;
        border-bottom: 1.5px solid black !important;
    }
    div.barra div.barra_top_img {
        height: 110px;
    }
    div.barra div.barra_top_img {
        border: 2px solid black;
    }
    div.barra div.sillas .silla {
        width: 32px;
    }
    div.formulario_usuarios h3 {
        margin-top: 20px;
    }
    div.formulario_usuarios {
        max-height: calc(100vh - 393px);
    }
    div.formulario_usuarios #lista_usuarios ion-input {
        font-size: 12px;
        width: 130px;
    }
    .plus {
        width: 19px;
        margin-left: 13px;
    }
    img.ajustes{
        width: 21px;
    }
    div.boton img {
        max-width: 60%;
    }
    div.boton h2 {
        font-size: 13px;
        transform: translateY(-9px);
    }
    div.formulario_cartas div.carta {
        width: 217px;
        height: 200px;
    }
    div.formulario_cartas div.carta div.carta_fondo {
        width: 185px;
        height: 170px;
    }
    div.formulario_cartas h2 {
        font-size: 45px;
    }
    div.atras {
        margin-left: 35px;
        margin-top: 7px;
    }
}