<ion-content color="primary">

  <!-- div oculto -->
  <div id="atras_vista_uno" (click)="atras_vista_uno()" class="atras"></div>

  <div id="partesuperior" class="partesuperior">
    <h1>Long live <br>&nbsp;&nbsp;&nbsp;&nbsp;the party</h1>
    <img class="botellasinicio" src="assets/images/Botellas juntas inicio.svg"/>
  </div>

  <div id="barra" class="barra">
    <img class="barrasuperior" width="294px" src="assets/images/barra_de_arriba_copas.svg"/>
    <div class="barra_top_img">
      <div class="barra_top2_img"></div>
      <!-- div oculto -->
      <h2 id="carta_titulo">Cartas</h2>
    </div>

    <div class="sillas">
      <img class="silla" id="silla1" src="assets/images/Silla.svg"/>
      <img class="silla" id="silla2" src="assets/images/Silla.svg"/>
      <img class="silla" id="silla3" src="assets/images/Silla.svg"/>
      <img class="silla" id="silla4" src="assets/images/Silla.svg"/>
    </div>
  </div>

  <div id="formulario_usuarios" class="formulario_usuarios">
      <h3>UNA MESA PARA...</h3>
      <form class="usuarios">
        <div>
          <ion-col id="lista_usuarios">
            <!--  Muestra en numero de imputs como arrays haya en "users" -->
            <ion-input *ngFor="let item of users" type="text" name="{{item.name}}" [(ngModel)]="item.value" placeholder="{{item.name}}"></ion-input> <!-- id="{{item.id}}" -->
          </ion-col>
          <!-- Añade otra posicion al array "users" -->
          <div id="plus" class="plus" (click)="mas_jugadores()"></div>
        </div>
      </form>
    </div>
  
    <div id="formulario_cartas" class="formulario_cartas">
      <img (click)="posicion_cartas('izquierda')" src="assets/images/flecha_izquierda.svg"/>
      <div>
        <div id="carta" class="carta">
          <img (click)="info()" src="assets/images/info.svg"/>
          <div class="carta_fondo"></div>
        </div>
        <h2 id="titulo_carta" class="titulo_carta">{{cartas[0]}}</h2>
      </div>
      <img (click)="posicion_cartas('derecha')" src="assets/images/flecha_derecha.svg"/>
    </div>
  

  <!-- div oculto -->
  <div id="boton_vista_dos" (click)="boton_vista_dos()" class="boton">
      <img width="260px" src="assets/images/boton_del_juego_2.svg"/>
      <h2>CON O SIN HIELO?</h2>
  </div>

  <div id="boton_vista_uno" (click)="boton_vista_uno()" class="boton">
      <img width="260px" src="assets/images/boton_del_juego_1.svg"/>
      <h2>CARTAS</h2>
  </div>

  <img (click)='ajustes("abrir")' id="ajustes" class="ajustes" width="30px" src="assets/images/ajustes.svg"/>

  <!-- div oculto mensajes --> 
  
  <div id="ajuste_oculto_fondo" class="ajuste_oculto_fondo">
    <div id="ajuste_oculto" class="ajuste_oculto">
      <img (click)='ajustes("cerrar")' width="30px" src="assets/images/X.svg"/>
      <p>Tono Mollá Gonzalez</p>
      <p>Instagram: @tonomolla6</p>
    </div>

    <div class="mensaje_alerta" id="mensaje_amigos">
      <img (click)='ajustes("cerrar")' width="30px" src="assets/images/X.svg"/>
      <p>El minimo de jugadores son 2</p>
    </div>

    <div class="mensaje_alerta" id="mensaje_vacio">
      <img (click)='ajustes("cerrar")' width="30px" src="assets/images/X.svg"/>
      <p>No ha inscrito a ningún jugador.</p>
    </div>

    <div id="info_oculto" class="info_oculto">
      <img (click)='ajustes("cerrar")' width="30px" src="assets/images/X.svg"/>
      <p>Texto de prueba.</p>  
    </div>
  </div>

</ion-content>
