<ion-content color="primary">

  <div class="partesuperior">
    <h1>Long live <br>&nbsp;&nbsp;&nbsp;&nbsp;the party</h1>
    <img class="botellasinicio" src="assets/images/Botellas juntas inicio.svg"/>
  </div>

  <div class="barra">
    <img class="barrasuperior" width="294px" src="assets/images/barra_de_arriba_copas.svg"/>
    <div class="barra_top_img">
      <div class="barra_top2_img"></div>
    </div>
    <div class="sillas">
      <img class="silla" id="silla1" src="assets/images/Silla.svg"/>
      <img class="silla" id="silla2" src="assets/images/Silla.svg"/>
      <img class="silla" id="silla3" src="assets/images/Silla.svg"/>
      <img class="silla" id="silla4" src="assets/images/Silla.svg"/>
    </div>
  </div>

  <div class="formuario_usuarios">
    <h3>OTRA RONDA?</h3>
    <form>
      <ion-col id="lista">
        <ion-input type="text" name="user1" [(ngModel)]="user1" placeholder="Jugador 1"></ion-input>
        <ion-input type="text" name="user2" [(ngModel)]="user2" placeholder="Jugador 2"></ion-input>
        <ion-input type="text" name="user3" [(ngModel)]="user3" placeholder="Jugador 3"></ion-input>
      </ion-col>
      <br>
      <ion-button (click)="onClick()" type="submit" >PLAY!</ion-button>
    </form>
  </div>

  <div class="boton">
      <img width="260px" src="assets/images/Boton del juego_1.svg"/>
      
      <h2>EMPIEZA EL JUEGO</h2>
  </div>
</ion-content>
