<ion-content color="primary">

  <div class="partesuperior">
    <h1>Long live <br>&nbsp;&nbsp;&nbsp;&nbsp; the party</h1>
    <img class="botellasinicio" src="assets/images/Botellas juntas inicio.svg"/>
  </div>

  <div class="barra">
    <img class="barrasuperior" src="assets/images/Barra de arriba.svg"/>
    <div class="sillas">
      <img class="silla" id="silla1" src="assets/images/Silla.svg"/>
      <img class="silla" id="silla2" src="assets/images/Silla.svg"/>
      <img class="silla" id="silla3" src="assets/images/Silla.svg"/>
      <img class="silla" id="silla4" src="assets/images/Silla.svg"/>
    </div>
  </div>
  
  <ion-footer>
    <img class="boton" src="assets/images/Boton del juego_1.svg"/>
  </ion-footer>
</ion-content>
