<ion-content color="primary">

  <div class="policia">
    <img class="casa_policia" src="assets/images/casa_policia.svg">
    <img class="coche_rojo_policia" src="assets/images/coche_rojo.svg">
    <img class="coche_amarillo_policia" src="assets/images/coche_amarillo.svg">
    
  </div>

  <div class="policia_mensaje">
    <img class="agente_policia" src="assets/images/policia.svg">
    <img class="bocadillo" src="assets/images/bocadillo.svg">
    <p>Donde van a estas horas?</p>
  </div>
  
  <div class="policia_opciones">
    <div routerLink="/game-config" class="verde"><p>VOLVER A JUGAR</p></div>
    <div routerLink="/home" class="azul"><p>CAMBIAR DE CARTA</p></div>
  </div>
  
</ion-content>
